.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px; 
    margin-right: 10px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.product-details{
    margin-left: 15px;
}
.main-button{
    background-color: gold;
    width: 140px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}